altro
prove
nohup.out

mongo/db
mongo/input_docs-archives/device_alarm*
mongo/input_docs-archives/device_diag*
mongo/input_docs-archives/operationData*
mongo/input_docs-archives/device_measure.*

ang/grafo1/.BAK.git

grafana/data/alerting
grafana/data/csv
grafana/data/plugins
grafana/data/png
grafana/data/storage
grafana/data/grafana.db
