<div>
  <form class="d-flex-column" [formGroup]="injectForm" novalidate>
    <app-node-basics [parentForm]="injectForm" [nodeEditing]="nodeEditing"></app-node-basics>

    <div class="node-form-div">
      <hr class="m-2">
    </div>

    <ngx-monaco-editor [options]="editorOptions" class="my-2 p-0 form-control" placeholder="Content" formControlName="node_content" style="height: 20vh"></ngx-monaco-editor>

    <div class="d-flex">
      <button class="mt-2 btn btn-primary" [ngClass]="{'disabled': !injectForm.valid, 'btn-warning': nodeEditing}" type="button" (click)="tryNode()" [innerText]="nodeEditing? 'Edit':'Add'">Add</button>
      <button class="ms-3 mt-2 btn btn-danger" *ngIf="nodeEditing" (click)="deleteNode()">Delete</button>
      <button class="ms-auto mt-2 btn btn-secondary" (click)="clearNodeInput()">Clear</button>
    </div>
  </form>
</div>
