<div>
  <form class="d-flex-column" [formGroup]="stringOpsForm" novalidate>
    <app-node-basics [parentForm]="stringOpsForm" [nodeEditing]="nodeEditing"></app-node-basics>

    <div class="node-form-div">
      <hr class="m-2">
    </div>

    <div class="form-floating">
      <select formControlName="node_operation" class="my-2 form-select my-bg-grey" [ngClass]="{'is-invalid': !stringOpsForm.controls['node_operation'].valid}">
        <option value="upper">Upper case</option>
        <option value="lower">Lower case</option>
        <option value="regex">Regex</option>
      </select>
      <label>Operation</label>
      <p class="text-danger text-start my-0" *ngIf="stringOpsForm.controls['node_operation'].errors">{{getControl('node_operation').errors?.['msg']}}</p>
    </div>
    <div *ngIf="this.getControl('node_operation').value == 'regex'" class="form-floating">
      <select formControlName="node_sub_operation" class="my-2 form-select my-bg-grey" [ngClass]="{'is-invalid': !stringOpsForm.controls['node_sub_operation'].valid}">
        <option value="delete">Delete matching</option>
        <option value="keep">Keep matching</option>
        <option value="replace">Replace matching</option>
      </select>
      <label>Sub operation</label>
      <p class="text-danger text-start my-0" *ngIf="stringOpsForm.controls['node_sub_operation'].errors">{{stringOpsForm.controls['node_sub_operation'].errors?.['msg']}}</p>
    </div>
    <div class="form-floating">
      <input class="form-control my-2 " type="text" formControlName="node_fields" placeholder="fields" [ngClass]="{'is-invalid': !stringOpsForm.controls['node_fields'].valid}" ngbPopover="Comma separated fields names" popoverClass="custom-popover" triggers="mouseenter:mouseleave" [openDelay]="400">
      <p class="text-danger text-start my-0" *ngIf="stringOpsForm.controls['node_fields'].errors">{{stringOpsForm.controls['node_fields'].errors?.['msg']}}</p>
      <label>Fields</label>
    </div>
    <div *ngIf="RegExp('regex*').test(stringOpsForm.controls['node_operation'].value)" class="form-floating">
      <input class="form-control my-2 " type="text" formControlName="node_regex_pattern" placeholder="regex pattern" [ngClass]="{'is-invalid': !stringOpsForm.controls['node_regex_pattern'].valid}">
      <p class="text-danger text-start my-0" *ngIf="stringOpsForm.controls['node_regex_pattern'].errors">{{stringOpsForm.controls['node_regex_pattern'].errors?.['msg']}}</p>
      <label>regex pattern</label>
    </div>
    <div *ngIf="RegExp('.*replace.*').test(stringOpsForm.controls['node_sub_operation'].value)" class="form-floating">
      <input class="form-control my-2 " type="text" formControlName="node_regex_replace" placeholder="regex pattern" [ngClass]="{'is-invalid': !stringOpsForm.controls['node_regex_replace'].valid}">
      <p class="text-danger text-start my-0" *ngIf="stringOpsForm.controls['node_regex_replace'].errors">{{stringOpsForm.controls['node_regex_replace'].errors?.['msg']}}</p>
      <label>replace with</label>
    </div>

    <div class="d-flex">
      <button class="mt-2 btn btn-primary" [ngClass]="{'disabled': !stringOpsForm.valid, 'btn-warning': nodeEditing}" type="button" (click)="tryNode()" [innerText]="nodeEditing? 'Edit':'Add'">Add</button>
      <button class="ms-3 mt-2 btn btn-danger" *ngIf="nodeEditing" (click)="deleteNode()">Delete</button>
      <button class="ms-auto mt-2 btn btn-secondary" (click)="clearNodeInput()">Clear</button>
    </div>
  </form>
</div>
