<div>
  <form class="d-flex-column" [formGroup]="debugForm" novalidate>
    <input class="form-control my-2 " type="text" formControlName="node_id" placeholder="node id" [ngClass]="{'is-invalid': !debugForm.controls['node_id'].valid}" [readonly]="nodeEditing">
    <p class="text-danger text-start my-0" *ngIf="debugForm.controls['node_id'].errors">{{debugForm.controls['node_id'].errors?.['msg']}}</p>
    <input class="form-control my-2 " type="text" formControlName="node_label" placeholder="node label">

    <div class="d-flex">
      <button class="mt-2 btn btn-primary" [ngClass]="{'disabled': !debugForm.valid, 'btn-warning': nodeEditing}" type="button" (click)="tryNode()" [innerText]="nodeEditing? 'Edit':'Add'">Add</button>
      <button class="ms-3 mt-2 btn btn-danger" *ngIf="nodeEditing" (click)="deleteNode()">Delete</button>
      <button class="ms-auto mt-2 btn btn-secondary" (click)="clearNodeInput()">Clear</button>
    </div>
  </form>
</div>
